/.idea/
/.phpunit.result.cache
/bin/
/composer.lock
/custom.task.properties
/custom.type.properties
/docs/_build/
/test/coverage.xml
/test/etc/routines.json
/test/psql/inet6
/test/psql/oracle
/test/report/
/vendor/
